*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav ul li{
    display: inline;
    margin-right: 50px;
    
}

main{
    display: flex;
    flex-wrap: wrap;
}

#main-view{
    width: 65vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 50vw 45vw;
    grid-template-rows: repeat(3,20vh);
    }
#main-video{
    margin: 10px;
    margin-bottom: 20px;
    grid-column: 1/2;
    grid-row: 1/4;
}

#main-video iframe{
    height: 500px;
    width: 315px;
    margin: 10px;
}
.video{
    height: 15vh;
    width: 15vw;
    margin: 10px;
}

.video-flex{
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;

}

#video-1{
    grid-column: 2/3;
    grid-row: 1/2;
   
    
}
#video-2{
grid-column: 2/3;
grid-row: 2/3;

}

#video-3{
    grid-column: 2/3;
     grid-row: 3/4;
    
}
aside{
    width: 25vw;
    height: 60vh;
    margin: 10px;
    padding: 10px;
    
}